.loadSet{
    width: 330px;
    height: 85px;
    padding: 5px 5px 5px 5px;
}

.loadSetInput[type=radio]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 85px;
}

.loadSetInput[type=radio]:checked+label::before{
    border: 2px solid rgb(200, 200, 100);
    box-sizing: border-box;
}

.loadSetInput[type=radio]{
    display: none;
} 

.loadSetInput[type=radio][id="11"]+label:before{
	background-image: url(./img/11.png);
}
.loadSetInput[type=radio][id="12"]+label:before{
	background-image: url(./img/12.png);
}
